*,
*:before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:focus {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  border: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

:root {
  --clr-btn-active: hsl(172, 67%, 45%);
  --clr-btn-inactive: hsl(183, 100%, 15%);
  --clr-text-primary: hsl(186, 14%, 43%);
  --clr-text-secondary: hsl(184, 14%, 56%);
  --clr-bg-secondary: hsl(185, 41%, 84%);
  --clr-bg-input: hsl(189, 41%, 97%);
  --clr-white: hsl(0, 0%, 100%)
}

body {
  font-family: 'Space Mono', monospace;
  background-color: #BDE5E8;
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: auto;
  margin-bottom: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  text-decoration: none;
  background: none;
  border: none;
  width: 100%;
  flex-shrink: 1;
}

.text-center {
  text-align: center;
}

.margin-top-2 {
  margin-top: 2em;
}

.rounded {
  border-radius: 0.8rem;
}

h1 {
  letter-spacing: 0.35em;
  opacity: 0.4;
}

h2 {
  font-size: 0.8em;
  margin: 0.3em 0;
}

.card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-width: 375px;
  margin: 2em auto;
  max-width: 540px;
  background-color: white;
  box-shadow: 0 0 20px 1px rgba(10, 10, 10, 0.1);
  padding: 2em;
  color: var(--clr-text-secondary);
}

.card-left {
  text-align: left;
  width: 100%;
}

.card-right {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  justify-content: flex-start;
  margin: 2em 0 0;
  padding: 1em;
  background-color: var(--clr-btn-inactive);
}

.text-primary {
  color: var(--clr-text-white);
}

.text-secondary {
  color: var(--clr-text-secondary);
}

.display-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  margin: 1em 0 0.5em 0;
}

.display-section h2 {
  color: var(--clr-btn-active);
  font-size: 1.5em;
  text-align: right;
}

.display-section h4 {
  color: var(--clr-bg-secondary);
  font-size: 0.8em;
}

.display-section p {
  color: var(--clr-text-secondary);
  font-size: 0.6em;
}

.input-field {
  display: flex;
  width: 100%;
  background-color: var(--clr-bg-input);
  border-radius: 0.4em;
  padding: 0.5em 1em;
}

.input-field > input {
  color: var(--clr-btn-inactive);
  text-align: right;
  font-weight: 700;
  font-size: 1em;
  letter-spacing: 1px;
}

.active {
  background-color: var(--clr-btn-active);
  color: var(--clr-btn-inactive);
}

.inactive {
  background-color: var(--clr-btn-inactive);
  color: var(--clr-white);
}

.focused {
  box-sizing: border-box;
  box-shadow: 0 0 0 3px var(--clr-btn-active) inset;
}

.btn-custom {
  background-color: var(--clr-bg-input);
}

.btn-custom.active {
  border: 2px solid var(--clr-btn-active);
}

.nb-of-people-text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.error-message.show-message {
  display: block;
  color: rgba(255, 0, 0, 0.626);
}

.error-message {
  display: none;
}

.buttons-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 0.6em;
}

.btn {
  display: block;
  text-align: center;
  border-radius: 0.2em;
  padding: 0.4em 0.6em;
  font-weight: 700;
}

.btn:hover {
  filter: brightness(1.2);
}

.btn-reset {
  display: block;
  width: 100%;
  margin-top: 2em;
}

@media (min-width: 768px) {
  .container {
    padding: 0 5rem;
  }
  .card {
    flex-flow: row nowrap;
    max-width: 700px;
    align-items: stretch;
  }
  .card-right {
    margin: 0 0 0 2em;
    justify-content: flex-start;
  }
  .display-section h2 {
    font-size: 2em;
  }
  .btn-reset {
    align-self: flex-end;
    margin-top: auto;
  }
}
