*,
*:before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

:root {
  --clr-btn-active: hsl(172, 67%, 45%);
  --clr-btn-inactive: hsl(183, 100%, 15%);
  --clr-text-primary: hsl(186, 14%, 43%);
  --clr-text-secondary: hsl(184, 14%, 56%);
  --clr-bg-secondary: hsl(185, 41%, 84%);
  --clr-bg-input: hsl(189, 41%, 97%);
  --clr-white: hsl(0, 0%, 100%)
}

body {
  font-family: 'Space Mono', monospace;
  background-color: #BDE5E8;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  text-decoration: none;
  background: none;
  border: none;
  width: 100%;
  flex-shrink: 1;
}

input:focus,
input:active {
  text-decoration: none;
  border: 1px solid var(--clr-text-secondary);
}

.container {
  padding: 0 5rem;
}

.text-center {
  text-align: center;
}

.margin-top-2 {
  margin-top: 2em;
}

.rounded {
  border-radius: 0.8rem;
}

h1 {
  letter-spacing: 0.35em;
}

h5 {
  margin: 0.3em 0;
}

.card {
  display: flex;
  background-color: white;
  box-shadow: 0 0 20px 1px rgba(10, 10, 10, 0.1);
  padding: 2em;
  color: var(--clr-text-primary);
}

.card-left {
  text-align: left;
}

.card-right {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  margin-left: 2em;
  padding: 1.5em;
  background-color: var(--clr-btn-inactive);
}

.text-primary {
  color: var(--clr-text-white);
}

.text-secondary {
  color: var(--clr-text-secondary);
}

.display-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.display-section h2 {
  color: var(--clr-btn-active);
  font-size: 2em;
  text-align: right;
}

.display-section h4 {
  color: var(--clr-bg-secondary);
  font-size: 0.8em;
}

.display-section p {
  color: var(--clr-text-secondary);
  font-size: 0.6em;
}

.input-field {
  display: flex;
  width: 100%;
  background-color: var(--clr-bg-input);
  border-radius: 0.4em;
  padding: 0.5em 1em;
}

.input-field > input {
  color: var(--clr-btn-inactive);
  text-align: right;
  font-weight: 700;
  font-size: 1em;
  letter-spacing: 1px;
}

.active {
  background-color: var(--clr-btn-active);
  color: var(--clr-btn-inactive);
}

.inactive {
  background-color: var(--clr-btn-inactive);
  color: var(--clr-white);
}

.btn-custom {
  background-color: var(--clr-bg-input);
}

.buttons-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 0.6em;
}

.btn {
  display: block;
  text-align: center;
  border-radius: 0.2em;
  padding: 0.4em 0.8em;
  font-weight: 700;
}

.btn-reset {
  align-self: flex-end;
  margin-top: auto;
  padding: 0 10em;
}
